:host {
  display: block;
  flex: 1;
  min-height: 0;
}

.package-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px 16px;
  box-sizing: border-box;

  &__grid {
    flex: 1;
    min-height: 0;
  }
}
